/* //mobile css Starts */
@media only screen and (max-width: 600px) {}

/* //Mobile Css Ends

//Desktop css starts */
@media only screen and (min-width: 600px) {
    .reorganize {
        border-right: 1px solid #ccc;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
    }


}




.asap {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.h31 {

    font-family: 'Quicksand', sans-serif;
}

hr {
    margin-bottom: -5px !important;
    margin-top: 15px !important;
}

.livecities a {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
}

.asap {
    margin: 10px 0 10px;
}

.advertise {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;

}

button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: left !important;
}

body {
    padding: 0px !important;
    margin: 0px !important;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff !important;
}

.bottom-wrapper {
    width: 100%;
    padding-top: 115px;
    z-index: 5;
    overflow: auto;
}

.reachh {
    position: fixed;
    left: -188px;
    top: 47%;
    transition: 1.3s;
}

.reachh:hover {
    left: 0px !important;
}

.navbar-default {
    height: 120px !important;
    position: fixed;
    top: 0px;
}

.navbar-right {
    margin-top: 13px !important;

}

.navbar-right li a {
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
    color: black !important;
}

.navbar {
    padding: 0px !important;
    margin: 0px !important;
    border-right: none !important;
    border-left: none !important;

}

nav {
    position: relative !important;
    z-index: 9999 !important;
}

.navbar-brand img {
    width: 65%;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    border: 1px solid #cccccc;

}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    list-style: none;
}

ul li ul.dropdown li a {
    color: #000;
}

@media only screen and (max-width: 600px) {
    ul li ul.dropdown {
        min-width: 100%;
        /* Set width of the dropdown */
        background: #000;
        display: none;
        position: absolute;
        z-index: 999;
        left: 10;
        border: none;

    }

    ul li:hover ul.dropdown {
        display: block;
        /* Display the dropdown */
    }

    ul li ul.dropdown li {
        padding: 5px;
        border-bottom: none;
        list-style: none;
    }

    ul li ul.dropdown li a {
        color: #fff;
    }

    .navbar-brand img {
        width: 50%;
        position: absolute;

    }

    .navbar-default {
        height: 70px !important;
    }

    .color {
        background-color: black;
    }

    .navbar-right {
        margin-top: 15px;
    }

    .navbar-right li a {
        color: #fff !important;
    }

    .navbar-collapse {
        margin-top: 15px;
    }
}

.cnsignature {
    position: relative;
    top: 27px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.header2 {
    font-size: 20px;
    height: 70px;
    align-items: center;
}

.menu {

    background-color: #e9ecef;
}

.lists {
    height: 55px;
}

.planner-box {
    position: relative;
    height: 230px;
    width: 230px;
    border-radius: 4px;
    ;
}

.planner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Triangle */
.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 114px 200px 114px;
    border-color: transparent transparent #007bff transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.up p {
    text-align: center;
    top: 80px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: red;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid yellow;
}



/* .multi-line-text {
font-size: 20px;
}
 */
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Adamina:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Logo title */
#logo-title {
    font-size: 38px;
    font-family: 'Adamina', serif;
    font-weight: 700;
}

/* Bold Tag */
.sub-logo-title {
    font-weight: 600;
    font-size: 14px;
}

/* Paragraph */
.sub-logo-title {
    position: relative;
    top: 1px;
    margin-bottom: 0px;
}



/* Column 6/12 */
.text-center .col-6 {
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
}

/* Bold Tag */
.row b {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.7px;
    word-spacing: 1px;
}

/* Column 2/12 */
.menu .text-primary li {
    color: #020202;
    font-size: 16px;
    font-weight: 500;
}

/* Back tile */
.container>.back-tile {
    margin-top: 17px;
    padding-top: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Back tile */
.container .back-tile .back-tile {
    align-self: center;
    display: flex;
}

/* More tile */
.container .back-tile .more-tile {
    align-self: flex-end;
}

/* Image */
.row .prarang-logo {
    width: 115px;
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
    height: 81px;
}

/* Row */
.text-center .row {
    height: 90px;
}


/* List */
#navbarSupportedContent ul {
    padding-right: 50px;
    padding-left: 50px;
}

/* Link */
.navbar-nav .nav-item a {
    font-weight: 600;
}

.heading-bar {
    background-color: #B6F0F7;
    margin: 10px 0px 10px 0px;
    padding: 12px;
}

/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Adamina:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Column 8/12 */
.container .heading-bar .text-center {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: 'Adamina', serif;

}

/* List */
#navbarSupportedContent ul {
    background-color: #e4d2d2;
    padding-top: 3px;
    padding-bottom: 7px;
}


/* Swiper */
@media (min-width: 37.5em) {
    body {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* ==========================================================================
     Swiper modifications
   ========================================================================== */

.swiper-container {
    margin-top: 2em;
    /* minor cosmetic */
}

.swiper-wrapper {
    /* now pagination is below slides */
    margin-bottom: 3em;

    /* just enough width so slides handing off screen are partially visible */
    width: 73.8%;
}

@media (min-width: 37.5em) {
    .swiper-wrapper {
        /* now arrows appear */
        /* make room for arrows */
        width: 92%;
    }
}

@media (min-width: 43.75em) {
    .swiper-wrapper {
        /* make room for arrows */
        width: 95%;
    }
}


/* doubleing up specificity to win over on transform */
.swiper-slide.swiper-slide {
    /* a single column layout */
    width: 100%;
}


@media (min-width: 37.5em) {
    .swiper-slide.swiper-slide {
        /* going for a 2 column layout here */
        width: 50%;

        /* centeredSlides set to true */
        /* reposition so first slide appears on left */
        transform: translateX(-50%);
    }
}

@media (min-width: 43.75em) {
    .swiper-slide.swiper-slide {
        /* upping it to a 3 column layout */
        width: 33.33333333333%;

        /* centeredSlides set to true */
        /* reposition so first slide appears on left */
        transform: translateX(-100%);
    }
}

@media (min-width: 53em) {
    .swiper-slide.swiper-slide {
        /* and finally the 4 column layout */
        width: 25%;

        /* centeredSlides set to true */
        /* reposition so first slide appears on left */
        transform: translateX(-150%);
    }
}

.swiper-pagination {
    /* show on small viewports */
    display: block;
}

@media (min-width: 37.5em) {
    .swiper-pagination {
        /* hide on larger viewports per stakeholder recommendation */
        display: none;
    }
}

/* now move prev button more to the left */
.swiper-button-prev {
    /* but first hide on small viewports */
    display: none;

    left: 0;
    top: 0;

    margin-top: 0;

    /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
    height: calc(100% - 3em);

    /* css trickery to hide the way left image */
    background-color: #fff;
}

@media (min-width: 37.5em) {
    .swiper-button-prev {
        /* show on larger viewports */
        display: block;
    }
}

.swiper-button-next {
    /* hide on small viewports */
    display: none;

    right: 0;
    top: 0;

    margin-top: 0;

    /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
    height: calc(100% - 3em);

    /* css trickery to hide the way right image */
    background-color: #fff;
}

@media (min-width: 37.5em) {
    .swiper-button-next {
        /* show on larger viewports */
        display: block;
    }
}

/* ==========================================================================
     content in swiper
   ========================================================================== */

.product {
    /* odds are you will use flexbox */
    // display: flex;

    /* center it */
    margin-left: auto;
    margin-right: auto;

    /* adjust the width to add or remove whitespace  */
    width: 82%;
}

.photograph {
    /* if parent is flex it will stretch this image */
    // align-self: center;
    display: block;

    height: auto;
    width: 100%;
}

.product__name.product__name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: calc(.5em + 5vw);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 37.5em) {
    .product__name.product__name {
        font-size: .92em;
    }
}

.product__description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: calc(.3em + 5vw);
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
}

@media (min-width: 37.5em) {
    .product__description {
        font-size: .92em;
    }
}




/* circle */
.circle {
    width: 200px;
    height: 100px;
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.paragraph {
    font-size: 16px;
}

.small-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    margin: 3px;
}

.circle-c {
    display: flex;
    flex-direction: row;
}

/* tringal */
.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    margin: 5px;
}

.trbg-green {
    border-bottom: 16px solid green;
}

.trbg-blue {
    border-bottom: 16px solid blue;
}

.trbg-yellow {
    border-bottom: 16px solid rgb(189, 189, 7);
}

.trbg-red {
    border-bottom: 16px solid red;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.small-squ {
    width: 14px;
    height: 14px;
    /* border-radius: 50%; */
    background-color: black;
    margin: 3px;
}

.sqr {
    margin-left: 52px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: rgb(189, 189, 7);
}

.bg-red {
    background-color: red;
}

/* Span Tag */
.container .text-end span {
    color: #ffffff;
    background-color: #a5a5a5;
    background-size: cover;
    background-repeat: repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 5px;
}

/* Span Tag */
.container .text-end span {
    position: relative;
    top: 6px;
    left: -4px;
}

#contentDiv {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.threelinks {
    display: flex;
    justify-content: center;
    /* Center align the links horizontally */
    align-items: center;
    /* Center align the links vertically */
}

.threelinks a {
    margin: 0 10px;
    text-decoration: none;
}

/* Add some margin between the links */
/* Link */
.container a {
    font-weight: 600;
    color: #020202;
    margin-right: 39px;
    margin-left: 27px;
    font-size: 17px;
}

/* footer */
#style-efr49.style-efr49 {
    padding-top: 20px;
    border-top: 1px solid white;
    background-color: #333333;
    font-family: 'Quicksand', sans-serif;
}

#style-F9GIA.style-F9GIA {
    color: #fff;
    font-size: 12px !important;
}

#style-ntKhn.style-ntKhn {
    font-size: 12px !important;
}

/* Style */
#style-ntKhn {
    padding-bottom: 19px;
}

/* Column 10/12 */
.container .heading-bar .text-center {
    color: #003f7f;
}

/* Swiper container horizontal */
.container .swiper-container-horizontal {
    height: 109px;
    margin-top: 10px;
}

/* Swiper button prev */
.container .swiper-button-prev {
    top: 23px;
}

/* Swiper button prev */
.container .swiper-container-horizontal .swiper-button-prev {
    bottom: auto !important;
}

/* Swiper button next */
.container .swiper-button-next {
    top: 24px;
}

/* Swiper button next */
.container .swiper-container-horizontal .swiper-button-next {
    bottom: auto !important;
}

@media (max-width:600px) {

    /* Swiper pagination clickable */
    .container .swiper-pagination-clickable {
        top: 94px;
        margin-bottom: 23px;
        z-index: 1000;
        min-height: 28px;
    }

    /* Product */
    .swiper-wrapper .swiper-slide-active .product {
        height: 100px;
    }

    /* Container */
    .container {
        min-height: 249px;
        transform: translatex(0px) translatey(0px);
    }

    /* Swiper pagination clickable */
    .container .swiper-container-horizontal .swiper-pagination-clickable {
        bottom: auto !important;
    }

}

/* Italic Tag */
.container .heading-bar i {
    font-size: 15px;
}

@media (max-width:938.993px) {

    /* Circle */
    .container .sqr .circle {
        width: 160px;
    }

    /* Circle */
    .swiper-wrapper .product .circle {
        width: 150px;
        height: 107px;
    }

}

/* Span Tag */
.text-center .sub-logo-title span {
    font-size: 12px;
}

/* for title  */
/* Span Tag */
.text-center .sub-logo-title span {
    position: relative;
    left: 48px;
}

/* logo left mar */
/* Logo title */
#logo-title {
    margin-left: 75px;
}

/* Image */
#logo-title img {
    height: 79px;
}

.ads-web {
    border: 2px solid black;
    min-height: 100px;
    padding-top: 41px !important;
}



/* big balls */