body {
    font-family: 'Open Sans', sans-serif;
}

.heading-main {
    font-family: 'Open Sans', sans-serif;
}

.page-content {

    font-family: 'Open Sans', sans-serif;
}

.reorganize p {
    font-size: 16px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;

}

.reorganize ul li {
    font-size: 16px;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    list-style-position: outside !important;
    margin-left: 1em;

}

.reorganize ul {
    padding-left: 12px;
}

.reorganize img {


    margin-left: auto;
    margin-right: auto;
    display: block;
}

.abc {
    position: relative;
    top: 200px;
    transition: 0.6s
}

/* //mobile css Starts */
@media only screen and (max-width: 600px) {}

/* //Mobile Css Ends

//Desktop css starts */
@media only screen and (min-width: 600px) {
    .reorganize {
        border-right: 1px solid #ccc;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
    }


}




.asap {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.h31 {

    font-family: 'Quicksand', sans-serif;
}

hr {
    margin-bottom: -5px !important;
    margin-top: 15px !important;
}

.livecities a {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
}

.asap {
    margin: 10px 0 10px;
}

.advertise {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;

}

button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-align: left !important;
}

body {
    padding: 0px !important;
    margin: 0px !important;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff !important;
}

.bottom-wrapper {
    width: 100%;
    padding-top: 115px;
    z-index: 5;
    overflow: auto;
}

.reachh {
    position: fixed;
    left: -188px;
    top: 47%;
    transition: 1.3s;
}

.reachh:hover {
    left: 0px !important;
}

.navbar-default {
    height: 120px !important;
    position: fixed;
    top: 0px;
}

.navbar-right {
    margin-top: 13px !important;

}

.navbar-right li a {
    font-size: 18px !important;
    font-family: 'Quicksand', sans-serif !important;
    color: black !important;
}

.navbar {
    padding: 0px !important;
    margin: 0px !important;
    border-right: none !important;
    border-left: none !important;

}

nav {
    position: relative !important;
    z-index: 9999 !important;
}

.navbar-brand img {
    width: 65%;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    border: 1px solid #cccccc;

}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    list-style: none;
}

ul li ul.dropdown li a {
    color: #000;
}

@media only screen and (max-width: 600px) {
    ul li ul.dropdown {
        min-width: 100%;
        /* Set width of the dropdown */
        background: #000;
        display: none;
        position: absolute;
        z-index: 999;
        left: 10;
        border: none;

    }

    ul li:hover ul.dropdown {
        display: block;
        /* Display the dropdown */
    }

    ul li ul.dropdown li {
        padding: 5px;
        border-bottom: none;
        list-style: none;
    }

    ul li ul.dropdown li a {
        color: #fff;
    }

    .navbar-brand img {
        width: 50%;
        position: absolute;

    }

    .navbar-default {
        height: 70px !important;
    }

    .color {
        background-color: black;
    }

    .navbar-right {
        margin-top: 15px;
    }

    .navbar-right li a {
        color: #fff !important;
    }

    .navbar-collapse {
        margin-top: 15px;
    }
}

.cnsignature {
    position: relative;
    top: 27px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.header2 {
    font-size: 20px;
    height: 70px;
    align-items: center;
}

.menu {

    background-color: #e9ecef;
}

.lists {
    height: 55px;
}

.circles {
    display: flex;
}

.circle-with-text {
    background: linear-gradient(orange, red);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 20px;
    font-size: 15px;
    padding: 15px;
    display: flex;
    height: 180px;
    width: 180px;
    color: #fff;
}

.back-red {
    background: red;
    color: white;
}

.back-blue {
    background: blue;
    color: white;
}

.back-green {
    background: green;
    color: white;
}

.back-yellow {
    background: rgb(250, 250, 8);
    color: black;
}

.back-grey {
    background: grey;
}

.back-tile {
    background: #b6f0f7;
    padding: 3px;
    border-radius: 8px;
}

.more-tile {
    background: #09d1e7;
    padding: 4px 15px;
    border-radius: 2px;
}

.planner-box {
    position: relative;
    height: 230px;
    width: 230px;
    border-radius: 4px;
    ;
}

.planner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Triangle */
.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 114px 200px 114px;
    border-color: transparent transparent #007bff transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.up p {
    text-align: center;
    top: 80px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
}

.square {
    height: 150px;
    width: 150px;
    background-color: red;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid yellow;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: blue;
    border-radius: 50%;
}

/* .multi-line-text {
font-size: 20px;
}
 */
/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Adamina:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Logo title */
#logo-title {
    font-size: 36px;
    font-family: 'Adamina', serif;
    font-weight: 700;
}

/* Column 6/12 */
.text-center .col-6 {
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
}

/* Bold Tag */
.row b {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.7px;
    word-spacing: 1px;
}

/* Column 2/12 */
.menu .text-primary li {
    color: #020202;
    font-size: 16px;
    font-weight: 500;
}

/* Back tile */
.container>.back-tile {
    margin-top: 17px;
    padding-top: 14px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Back tile */
.container .back-tile .back-tile {
    align-self: center;
    display: flex;
}

/* More tile */
.container .back-tile .more-tile {
    align-self: flex-end;
}

/* Image */
.row img {
    width: 170px;
    display: inline-block;
    transform: translatex(0px) translatey(0px) !important;
    height: 81px;
}

/* Row */
.text-center .row {
    height: 90px;
}